@charset "UTF-8";

.tableText tr:nth-child(even), .tableText2 th, #item2Content tr:nth-child(even), #item2Content tr:nth-child(even), .tableText3 th {
	background-color: #eeeeee;
}

.tableContact {
	border-collapse: collapse;
	border: 1px solid #F9AE56;
	margin: 10px 0;
}

.tableContact td, .tableContact th {
	border: 1px solid #F9AE56;
}


.tableContact thead tr th, #item2Content thead tr th {
    background-color: #F9AE56;
    border: 1px solid #FFFFFF;
}
.tableContact tbody tr {
    height: 30px;
}

.cP {
	font-size: 18px;
	font-weight: bold;
	line-height: 50px;
	height: 40px;
}