@charset "UTF-8";

.tableContact {
	border-collapse: collapse;
	border: 1px solid #F9AE56;
	margin: 10px 0;
}

.tableContact th {
	background-color: #F9AE56;
	border: 1px solid #ffffff;
}

.tableContact td {
	border: 1px solid #F9AE56;
}

#listDiv {
	padding: 20px 30px;
}

textarea {
	width: 380px;
	height: 50px;
}

input {
	text-align: center;
}
