@charset "UTF-8";

textarea {
	width: 550px;
	height: 50px;
	margin: 5px 0;
}

.tableText tr:nth-child(even), .tableText2 tr:nth-child(even) {
	background-color: #eeeeee;
}

.tableText2 td {
	text-align: center;
}


.tableContact {
	border-collapse: collapse;
	border: 1px solid #F9AE56;
	margin: 10px 0;
}

.tableContact thead tr th {
	background-color: #F9AE56;
	border: 1px solid #ffffff;
}

.tableContact th {
	background-color: #dddddd;
}

.tableContact td, .tableContact th{
	border: 1px solid #F9AE56;
}

.tableContact td {
	text-align: center;
}


.cP {
	font-size: 18px;
	font-weight: bold;
	line-height: 50px;
	height: 40px;
}