@charset "UTF-8";

.tableText tr:nth-child(even) {
	background-color: #eeeeee;
}

.tableContact {
	border-collapse: collapse;
	border: 1px solid #F9AE56;
	margin: 10px 0;
	text-align: center;
}

.tableContact2 {
	border-collapse: collapse;
	margin: 0 10px;
}

.tableContact th {
	background-color: #F9AE56;
	border: 1px solid #ffffff;
}

.tableContact>tbody>tr>td {
	border-collapse: collapse;
	border-bottom: 1px solid #F9AE56;
}

.cP {
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    line-height: 50px;
}

.long {
	width: 280px;
}

.short, .short0, .short1, .short2, .short3, .short4 {
	width: 460px;
}

.tableText>span ,.short0ID,.short1ID,.short2ID,.short3ID,.short4ID,.longID{
	display: none;
}


