@charset "UTF-8";

#jMonthCalendar {
	position: relative;
}

#jMonthCalendar > table {
	line-height: 12px;
}

.MonthlyCalendar .MonthNavigation { border-bottom:solid 1px #ddd; clear:both; height:20px; padding:5px 10px 0 10px; }
.MonthlyCalendar .MonthNavPrev, .MonthlyCalendar .MonthNavNext, .MonthlyCalendar .TodayLink {
	width:10%;
	float:left;
	font-size: 12px;
}
.MonthlyCalendar .YearNavNext, .MonthlyCalendar .YearNavPrev { width:10%; float:right; }
.MonthlyCalendar .MonthName {
	width:40%;
	text-align:center;
	font-weight:bold;
	float:left;
}


.MonthlyCalendar { height:100%; width:100%; border:solid 1px #ddd; border-collapse:collapse; }
.MonthlyCalendar #CalendarHead { width:100%; background:#F7F7F7 none repeat scroll 0 0; }
.MonthlyCalendar #CalendarHead .DateHeader {
	width:14%;
	text-align:center;
	font-size: 15px;
	font-weight: inherit;
}

.MonthlyCalendar #CalendarBody { }
.DateBox { vertical-align:top; border:solid 1px #ddd; }
.DateLabel {
	height:16px;
	width:100%;
	background-color:#F7F7F7;
	text-align:right;
	font-size: 15px;
}
.DateLabel a {
	cursor:pointer;
	padding:0 5px 2px;
	text-decoration:none;
	line-height:16px;
	color:#000000;
}

#CalendarBody .Inactive, #CalendarBody .Weekend { background:#fafafa none repeat scroll 0 0; }
.Today { background:#A9DFFF none repeat scroll 0 0; }

#jMonthCalendar .Event {
	font-size:12px;
	padding:4px 2px;
	margin-bottom:1px;
	-moz-border-radius:0 8px 8px 8px;
	cursor:pointer;
	display:block;
}
.Event a {
	text-decoration:none;
	color:#ffffff;
}
.Event a:hover { text-decoration:underline; }

#event_edit_container { display: none; }

#jMonthCalendar .course1 {
	background-color: #338833;
}
#jMonthCalendar .course2 {
	background-color: #DD3333;
}

#inline ul li {
	line-height: 30px;
}
